@import "./variables/colores";
@import "./variables/extend";

@import "./secciones/header";
@import "./secciones/main-index";
@import "./secciones/footer";
@import "./componentes/componentes-bt";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-brands {
  text-decoration: none;
}

.fa-facebook {
  font-size: 3rem;
  color: $azul;
}

.fa-square-instagram {
  font-size: 3rem;
  color: $fucsia;
}

.fa-square-twitter {
  font-size: 3rem;
  color: $turquesa;
}

.fa-whatsapp{
  font-size: 3rem;
  color: rgb(22, 187, 7);
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.form-control {
  background-color: $antiquewhite;
}

.color-boton {
  color: $blanco;
  background-color: $negro;
}
