@import "./variables/colores";
@import "./variables/extend";

@import "./secciones/header";
@import "./secciones/main-index";
@import "./secciones/footer";
@import "./componentes/componentes-bt";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-brands {
  text-decoration: none;
}

.fa-facebook {  
    color: $azul;
  }

  .fa-square-instagram {    
    color: $fucsia;
  }
  
  .fa-square-twitter {  
    color: $turquesa;
  }

  .form-control{
    background-color: $antiquewhite;
  }

  .color-boton {
    color: $blanco;
    background-color: $negro;
  }





  







