.header {
  background-color: $beige;
}

.header a {
  font-size: larger;
  

&:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition: (0.5);
}
}

.color-nav {
  background-color: rgba(244, 211, 171, 0.945);
}
